.example{
    display: flex;
    flex-direction:inherit;
    padding: 20px;
    padding-left: 20px;
    background-color: aqua;
    width: 500px;
    flex-wrap: wrap;
}
.input1{
    padding-left: 20px;
    padding-right: 20px;
}